/* 1. исправляет позиционирование subMenu и не ломает overlay */
.block {
  --button-text-align: left;
  --submenu-border-radius: 12px;
  --header-border-height: 1px;
  --custome-scrollbar-max-height: 406px;

  z-index: var(--header-z-index);
  font-size: 15px;
  background-color: var(--background-color-white);
  border-bottom: var(--header-border-height) solid #dbdbdb;
}

.block_fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(
    calc(
      var(--header-height) * (-1 * var(--has-header-hidden)) -
        var(--header-border-height)
    )
  );

  /* transform: translateY(
    var(
      --is-header-fixed,
      calc((var(--header-height) + var(--header-border-height)) * -1)
    )
  ); */

  height: var(--header-height);

  transition: transform 0.3s ease;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1502px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  width: calc(var(--header-height) - 25px);
  min-width: calc(var(--header-height) - 25px);
  height: calc(var(--header-height) - 25px);
  margin: 12.5px 0;
}

.menu {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 3s;
}

.primary {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (width < 1335px) {
  .banner {
    --image-border-radius: 8px;

    display: none;
  }
}

.secondary {
  display: flex;
  font-size: 13px;
  color: var(--menu-link);
}

/*
 *  desktop
 */
@media screen and (width > 1035px) {
  .menu {
    --icon-display: none;

    row-gap: 4px;
    width: 100%;
    margin: 14px 0 0 6px;
  }

  .secondary {
    --button-text-align: end;

    position: relative; /* 1 */
    justify-content: flex-end;
    width: 100%;
    text-align: end;
  }

  .secondary > div {
    margin-right: 20px;
  }

  .secondary > div:last-child {
    margin-right: 0;
  }

  .secondary .search {
    display: flex;
    align-items: center;
  }

  .mobile {
    display: none;
  }
}

/*
 *  mobile
 */
@media screen and (width <= 1035px) {
  .menu {
    position: fixed;
    top: var(--header-mobile-height);
    right: 0;
    bottom: 0;
    transform: translateX(300px);

    overflow-y: scroll;

    width: 300px;
    padding: 20px;

    background-color: var(--background-color-white);

    transition: transform 0.25s ease-in;
  }

  .menu_mobile_active {
    transform: translateX(0);
    transition: transform 0.25s ease-out;
  }

  .secondary {
    order: -1;
    margin-top: -1px;
  }

  .secondary > ul {
    width: 55%;
  }

  .secondary .search,
  .Social_desktope {
    display: none !important;
  }

  .mobile {
    display: flex;
  }

  .mobile > div {
    margin-right: 8px;
  }

  .mobile .search {
    display: flex;
    align-items: center;
  }

  .controls_button {
    right: -8px;
    width: 40px;
    height: 40px;
    outline: initial;
  }

  .inner {
    left: 10px;
    display: block;
    margin-top: -1px;
    transition: transform 0.1s linear;
  }

  .inner,
  .inner::after,
  .inner::before {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #000;
  }

  .inner::before {
    content: "";

    top: -6px;
    left: 0;

    display: block;

    transition: top 0.1s 0.2s linear;
  }

  .inner::after {
    content: "";

    bottom: -6px;
    left: 0;

    display: block;

    transition: bottom 0.1s 0.2s linear, transform 0.1s linear;
  }

  .controls_button--active .inner {
    transform: rotate(45deg);
    transition: transform 0.1s 0.2s linear;
  }

  .controls_button--active .inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s linear, opacity 0.1s 0.2s linear;
  }

  .controls_button--active .inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s linear, transform 0.1s 0.2s linear;
  }
}
