/* height: 292px; */

.block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 10px 6px;
  padding: 12px;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  border-radius: 16px;

  /* box-shadow: rgba(30, 30, 30, 0.1) 0 4px 12px; */

  /* box-shadow: rgba(30, 30, 30, 0.1) 0 2px 12px -2px; */
  box-shadow: rgba(30, 30, 30, 0.1) 0 2px 6px;
  cursor: default;
}
.block:first-child {
  margin-left: 10px;
}
.block:last-child {
  margin-right: 10px;
}
.block_count_1 {
  flex: 1;
}

.header {
  padding: 0 24px 10px;
  border-bottom: 1px solid var(--black-10);
}

.date {
  margin-right: 4px;
  font-weight: 100;

  /* font-family: var(--font-R-S); */
  font-size: 2em;

  /* color: var(--dark-gray); */
}

.date_size_small {
  font-size: 1.71em;
}

.month {
  font-weight: 300;
}

.type {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 6px;
  color: var(--secondary-color);
  font-size: 0.75em;
  background-color: var(--black-10);
  border-radius: 0 8px;
}

.body {
  flex: 1;

  /* padding: 8px 0 12px; */
}

.title {
  margin-top: 0;
  margin-bottom: 6px;
  color: rgba(30, 30, 30, 0.92);
  font-weight: 500;
  font-size: 0.9375em;
}

.content {
  margin-bottom: 2px;
  font-size: 0.9em;
}

.content p {
  margin: 0;
}

.description {
  /* text-transform: capitalize; */
  color: #4c4c4c;
  font-weight: 300;
  font-size: 0.9em;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
  font-size: 0.8125em;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* .info {
  padding-left: 8px;

  padding-left: 0;
} */

.info::before {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  opacity: 0.5;
  content: url("~/public/icons/phone.svg");
}

/*
 * width >= 480
 */
@media screen and (min-width: 480px) {
  .block {
    flex: 1;
    flex-direction: row;
    min-width: 330px;
    padding: 14px 12px 6px;
  }

  .header {
    display: flex;
    flex-direction: column;
    min-width: 88px;
    min-height: 98px;
    margin-right: 10px;
    padding: 0 14px 10px 5px;
    border-right: 1px solid var(--black-10);
    border-bottom: none;
  }

  .date {
    margin-right: 0;
    margin-bottom: 6px;
  }

  /* .body {
    padding: 8px 0 2px;
  } */

  .footer {
    position: absolute;
    bottom: 7px;
    left: 17px;
    display: flex;
    flex-direction: column;
  }
}
