.root {
  cursor: default;

  position: relative;

  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  width: var(--poster-item-width, 280px);
  height: var(--poster-item-height);
  margin: 10px 5px;
  padding: 12px;

  font-size: 16px;
  line-height: 20px;

  background-color: #fff;
  border-radius: 16px;
  box-shadow: rgba(30, 30, 30, 10%) 0 2px 6px;
}

@media screen and (width >= 480px) {
  .root {
    flex-direction: row;
    min-width: 330px;
    padding: 14px 12px 6px;
  }
}

.header {
  font-weight: 300;
}

@media screen and (width < 480px) {
  .header {
    padding: 0 24px 10px;
    border-bottom: 1px solid var(--black-10);
  }
}

@media screen and (width >= 480px) {
  .header {
    --poster-header-width: 88px;
    --poster-header-padding-right: 14px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-width: var(--poster-header-width);
    padding-right: var(--poster-header-padding-right);
    padding-left: 5px;

    border-right: 1px solid var(--black-10);
  }
}

.venue,
.footer {
  font-size: 0.8125em;
  color: var(--secondary-color);
}

@media screen and (width < 480px) {
  .venue {
    display: none;
  }
}

@media screen and (width >= 480px) {
  .venue {
    display: flex;
    flex-direction: column;
    max-width: calc(
      var(--poster-header-width) - var(--poster-header-padding-right)
    );
  }
}

.body {
  flex: 1;
}

@media screen and (width < 480px) {
  .body {
    padding: 8px 0 12px;
  }
}

@media screen and (width >= 480px) {
  .body {
    padding-left: 10px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 6px;

  font-size: 0.9375em;
  font-weight: 500;
  color: rgba(30, 30, 30, 92%);
}

.content {
  margin-bottom: 2px;
  font-size: 0.9em;
}

.content p {
  margin: 0;
}

.description {
  font-size: 0.9em;
  font-weight: 300;
  color: var(--black-70);
}

.footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (width >= 480px) {
  .footer {
    display: none;
  }
}

.type {
  position: absolute;
  top: 0;
  right: 0;

  padding: 0 6px;

  font-size: 0.75em;
  color: var(--secondary-color);

  background-color: var(--black-10);
  border-radius: 0 16px 0 8px;
}
