.root {
  /* Input */
  --search-input-height: var(--search-height);
  --search-input-border-radius: var(--search-border-radius) 0 0
    var(--search-border-radius);

  /* Button */
  --search-button-height: var(--search-height);
  --search-button-border-radius: 0 var(--search-border-radius)
    var(--search-border-radius) 0;

  z-index: calc(var(--suggestion-z-index) + 1);
  display: flex;
  width: 100%;
}
