/* .wrapper {
  display: flex;
} */

@media screen and (min-width: 769px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .wrapper:first-child {
    margin-left: 0;
  }
  .wrapper:last-child {
    margin-right: 0;
  }

  .align_top {
    align-items: flex-start;
  }
  .align_center {
    align-items: center;
  }
  .align_bottom {
    align-items: flex-end;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 100;
    align-items: center;
    margin: 10px;
  }
  .wrapper:first-child {
    margin-top: 0;
  }
  .wrapper:last-child {
    margin-bottom: 0;
  }
  .Image_width_max {
    width: 50vmin;
  }
}

@media screen and (max-width: 425px) {
  .Image_width_max {
    width: 100%;
  }
}
