.is-style-default,
.is-style-wide {
  height: 0.5px;
  margin: 16px auto 20px;
  background-color: var(--cyan-bluish-gray);
  border: none;
}

.is-style-default {
  width: 16%;
}

.is-style-dots {
  margin-top: 5px;
  margin-bottom: 14px;
  text-align: center;
  border: none;
}
.is-style-dots::before {
  padding-left: 2em;
  font-size: 20px;
  font-family: serif;
  letter-spacing: 2em;
  content: "\00b7 \00b7 \00b7";
}
