.root {
  position: relative;
  z-index: 1;

  display: flex;

  height: var(--image-viewer-header-height);

  background-color: var(--bg-controls);
}

.controls {
  position: absolute;
  right: 0;
}
