.image {
  display: flex;

  max-width: 100%;
  height: auto;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font: 0 / 0 a;

  border: 0;
  border-radius: var(--image-border-radius, var(--g-image-border-radius));
}

.placeholder {
  overflow: hidden;
  border-radius: var(--image-border-radius, var(--g-image-border-radius));
}

.placeholder_animated {
  animation: placeholder-fade-out 0.4s ease forwards;
}

@keyframes placeholder-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.backdrop {
  background-color: var(
    --image-background-color,
    var(--background-color-white)
  );
}

.blur {
  opacity: 0.95;
  filter: blur(var(--image-filter-blur, 10px));
}

.placeholder,
.backdrop,
.blur,
.skeleton {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.skeleton {
  transform: none;
  background-color: transparent;
}

.skeleton::after {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 8%),
    transparent
  );
}
