.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  pointer-events: none;
}

.icon::after {
  visibility: hidden;
  content: "\00A0";
}

.glyph {
  fill: var(--icon-fill);
}

/* .type_arrow {
  position: absolute;
} */

.arrow_weight_small {
  background-image: url("~/public/icons/arrow-b.svg");
}
.arrow_weight_medium {
  background-image: url("~/public/icons/arrow-b-22.svg");
  background-position-y: calc(50% + 2px);
}

.type_double-arrow {
  background-image: url("~/public/icons/double-arrows.svg");
}

.type_download {
  background-image: url("~/public/icons/download.svg");
}

.size_xs {
  width: 14px;
  height: 14px;
}
.size_s {
  width: 16px;
  height: 16px;
}
.size_m {
  width: 18px;
  height: 18px;
}
.size_l {
  width: 20px;
  height: 20px;
}
.size_xl {
  width: 22px;
  height: 22px;
}
.size_xxl {
  width: 24px;
  height: 24px;
}

.side_left {
  left: 0;
}

.side_right {
  right: 0;
}

/* .side_center {
  width: 100%;
} */

.direction_left {
  transform: rotate(90deg);
}

.direction_right {
  transform: rotate(-90deg);
}
