.root {
  position: relative;
  width: 100%;
  margin-top: calc(var(--carusel-offset-top, 0) * -1);
  margin-bottom: calc(var(--carusel-offset-bottom, 0) * -1);

  /* height: 500px; */
  overflow: hidden;
}

.scrolled {
  overflow-x: scroll;
  overflow-y: hidden;

  /* white-space: nowrap; */

  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrolled::-webkit-scrollbar {
  display: none;
}

.scrolled_scrollSnap {
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  touch-action: pan-x;
}

.itemList {
  display: flex;
  padding-top: var(--carusel-offset-top, 0);
  padding-bottom: var(--carusel-offset-bottom, 0);
}
