.container {
  position: relative;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  margin: 2em 0 1.3em;
}

.category {
  --category-background: #f2f2f2;

  letter-spacing: 0.034em;
}

.category-link {
  font-weight: 400;
  font-size: 14px;
  font-family: var(--font-R-S);
}

.body {
  position: relative;
}

.Share {
  --social-margin: 0 4px 0 0;
}

@media screen and (min-width: 1000px) {
  .Share {
    --social-margin: 0 0 4px 0;

    position: absolute;
    top: -5px;
    left: -80px;
    display: flex;
    flex-direction: column;
  }
}
