.container {
  position: relative;

  box-sizing: content-box;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 var(--g-article-padding-sides);
}

@media screen and (width <= 1600px) {
  .container {
    --is-font-size-adaptive: 1;
  }
}

@media screen and (width > 1600px) {
  .container {
    --is-font-size-adaptive: 0;
  }
}

.header {
  margin: 2em 0 1.3em;
}

.category {
  --category-background: #f2f2f2;

  letter-spacing: 0.034em;
}

.category .category-link {
  font-family: var(--font-family-serif);
  font-size: 14px;
  font-weight: 400;
}

.body {
  position: relative;
}

.blocks {
  --typography-margin-top: var(--block-margin-top, var(--g-block-margin-top));
  --typography-margin-bottom: var(
    --block-margin-bottom,
    var(--g-block-margin-bottom)
  );
}

.Share {
  --social-margin: 0 4px 0 0;
}

@media screen and (width < 1000px) {
  .Share {
    margin-top: 20px;
  }
}

@media screen and (width >= 1000px) {
  .Share {
    --social-margin: 0 0 4px 0;

    position: absolute;
    top: -5px;
    left: -80px;

    display: flex;
    flex-direction: column;
  }
}
