.block {
  margin: 6px 2px 20px;
}
.block:first-child {
  margin-top: 0;
}
.block:last-child {
  margin-bottom: 0;
}

.block_background_true {
  border-radius: 12px;
}

.container {
  display: flex;
}

@media screen and (min-width: 768px) {
  .block_background_true .container_mediaPosition_left .image {
    border-radius: 12px 0 0 12px;
  }
  .block_background_true .container_mediaPosition_left .text {
    padding: 0 6%;
  }

  .container_mediaPosition_right {
    flex-direction: row-reverse;
  }
  .block_background_true .container_mediaPosition_right .image {
    border-radius: 0 12px 12px 0;
  }
  .block_background_true .container_mediaPosition_right .text {
    padding: 0 6%;
  }
}
@media screen and (max-width: 767px) {
  .container_mediaPosition_right .text {
    margin-bottom: 20px;
  }

  .container_mediaPosition_left {
    flex-direction: column;
  }
  .block_background_true .container_mediaPosition_left .image {
    border-radius: 12px 12px 0 0;
  }
  .block_background_true .container_mediaPosition_left .text {
    padding: 6%;
  }

  .container_mediaPosition_right {
    flex-direction: column-reverse;
  }
  .block_background_true .container_mediaPosition_right .image {
    border-radius: 0 0 12px 12px;
  }
  .block_background_true .container_mediaPosition_right .text {
    margin-bottom: 0;
    padding: 6%;
  }

  .media {
    align-self: center;
  }
}

.media {
  max-width: max-content;
  min-height: 250px;
  margin: 0 0 -4px 0;
}

.image {
  border-radius: 12px;
}

.text_padding_left {
  padding-left: 6%;
}
.text_padding_right {
  padding-right: 6%;
}

.text_aline_top {
  align-self: start;
}
.text_aline_center {
  align-self: center;
}
.text_aline_bottom {
  align-self: end;
}
