.body {
  position: relative;
  flex: 1 0 auto;
  width: 100%;
  margin: -26px 0 -20px;
}

@media screen and (max-width: 980px) {
  .body {
    overflow: hidden;
  }
}

.wrapper {
  z-index: 1;

  /* padding: 40px 0 23px 0; */

  /* padding: 47px 0 53px; */

  padding-top: var(--carousel-wrapper-padding-top, 70px);
  padding-bottom: calc(60px - var(--scrollbarWidth));

  /* calc(43px + var(--scrollbarWidth)) */

  /* padding: 70px 0 60px; */

  /* padding: 60px 0 calc(60px - var(--scrollbarWidth)); */
  overflow: hidden;
}

.scrolled {
  display: flex;
  margin: -80px 0;
  padding: 40px 0;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.scrolled_scroll-snap {
  scroll-padding: var(--carousel-scroll-snap-padding, 0);
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior-x: contain;
}

.scrolled--center {
  justify-content: center;
}

/*
  width: 100% если делать опционально,
  то перенести выравнивание(post) по центру по условию на уровень выше
 */
.items {
  display: flex;
  flex: 1;

  /* width: 100%; */
}

/* @media screen and (min-width: 961px) {
  .items article:first-child {
    margin-left: 0;
  }

  .items article:last-child {
    margin-right: 0;
  }
} */

.shadow-left {
  position: absolute;
  top: 15px;
  bottom: 12px;
  left: -20px;
  display: none;
  width: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 10px 0 12px -6px;
}

.shadow-right {
  position: absolute;
  top: 15px;
  right: -20px;
  bottom: 12px;
  display: none;
  width: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) -10px 0 12px -6px;
}

.shadow-right--active,
.shadow-left--active {
  display: block;
}

/*
* чтобы срабатывало событие скрола отключаем pointer-events
*/
.controls {
  position: absolute;
  display: flex;
  width: var(--carousel-controls-width, 100%);
}

.controls-top {
  --button-hidden-opacity: 0.3;

  top: 0;
  justify-content: flex-end;
  margin: var(--carousel-controls-margin, 0);
}
.controls-center {
  --button-width: var(--carousel-button-width, 56px);
  --button-height: var(--carousel-button-height, 44px);

  top: 30px;
  bottom: 20px;
  justify-content: space-between;
  margin: var(--carousel-controls-margin);
  pointer-events: none;
}

.button_events {
  z-index: 1;
  pointer-events: initial;
}

@media screen and (min-width: 768px) {
  .button_events:hover .button_icon {
    transform: scale(1.1);
  }
}

.button_left_full-screen {
  --button-icon-justify-content: flex-start;

  width: 30%;
  padding-left: 10px;
}
.button_right_full-screen {
  --button-icon-justify-content: flex-end;

  width: 70%;
  padding-right: 10px;
}

.button_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s cubic-bezier(0.18, 0.24, 0.18, 0.71);
}

.controls-center .button_icon {
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  box-shadow: hsl(222deg, 13%, 28%, 20%) 0 1px 12px 0;
}

/* .button-left {
  left: -22px;
}

.button-right {
  right: -22px;
} */

/* @media screen and (max-width: 768px) {
  .button--inActive {
    display: none;
  }
} */

/* @media screen and (max-width: 990px) {
  .button-left {
    left: 8px;
  }

  .button-right {
    right: 8px;
  }
} */

.controls-buttons_full-screen {
  --button-box-shadow: none;
  --button-background-color: transparent;
  --button-border-radius: 0;

  position: absolute;
  width: 100%;
  height: 100%;
}

.button_full-screen_left,
.button_full-screen_right {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: default;
  pointer-events: initial;
}
