.overlay {
  pointer-events: none;

  position: fixed;
  z-index: calc(var(--header-z-index));
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;

  transition: var(--overlay-transition, opacity 0.15s ease-out);
}

.overlay::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: inherit;
}

/* .color_white::before {
  background-color: white;
}
.color_dark::before {
  background-color: var(--overlay-color);
} */

.overlay--active {
  pointer-events: initial;
  opacity: 0.8;
}

.opacity_80 {
  opacity: 0.8;
}

.opacity_100 {
  opacity: 1;
}

/* .touch--none {
  pointer-events: none;
  transition: none;
} */
