.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  transition: var(--overlay-transition, opacity 0.15s ease-out);
  pointer-events: none;
}

.overlay::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  content: "";
}

/* .color_white::before {
  background-color: white;
}
.color_dark::before {
  background-color: var(--overlay-color);
} */

.overlay--active {
  opacity: 0.8;
  pointer-events: initial;
}

.opacity_80 {
  opacity: 0.8;
}

.opacity_100 {
  opacity: 1;
}

/* .touch--none {
  pointer-events: none;
  transition: none;
} */
