{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "next/core-web-vitals",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    // ошибка no-shadow при использовании Enum
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],

    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@mui/*/*/*", "!@mui/material/test-utils/*"]
      }
    ],
    "import/prefer-default-export": "off",

    "import/extensions": [
      1,
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".tsx", ".jsx"]
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function"
      }
    ],

    "react/prop-types": "off",
    "react/require-default-props": "off",

    "react/no-danger": "off",
    "react/no-underscore-dangle": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "@next/next/no-document-import-in-page": "off",

    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "react/jsx-no-duplicate-props": [1, { "ignoreCase": false }]
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
