{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "next/core-web-vitals",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "rules": {
    /**
     * Ошибка no-void при использовании
     * шаблона предварительной загрузки (Next.js preload)
     * подробнее: https://nextjs.org/docs/app/building-your-application/data-fetching/fetching#preloading-data
     */
    "no-void": ["error", { "allowAsStatement": true }],
    // ошибка no-shadow при использовании Enum
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],

    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@mui/*/*/*", "!@mui/material/test-utils/*"]
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.tsx", "**/*.test.ts"] }
    ],

    "import/prefer-default-export": "off",

    "import/extensions": [
      1,
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".tsx", ".jsx"]
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function"
      }
    ],

    "react/prop-types": "off",
    "react/require-default-props": "off",

    "react/no-danger": "off",
    "react/no-underscore-dangle": "off",
    "no-underscore-dangle": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "@next/next/no-document-import-in-page": "off",

    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "react/jsx-no-duplicate-props": [1, { "ignoreCase": false }],
    "import/order": [
      "warn",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc"
        },
        "pathGroups": [
          {
            "pattern": "@/src/page/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/src/widgets/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/src/features/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/src/entities/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/src/shared/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/lib/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/core/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/helpers",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/helpers/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/constants/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/base/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/routes/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/components/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/public/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/styles/**",
            "group": "internal",
            "position": "before"
          },
          {
            "pattern": "@/**",
            "group": "internal",
            "position": "before"
          }
        ],
        "distinctGroup": false,
        "groups": [
          "builtin",
          "external",
          "internal",
          "unknown",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ]
      }
    ]
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
