# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.history
ecosystem.config.js
sentry.properties

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/

# misc
.DS_Store

# local env files
.env.local

#docker
.env
.docker
.dockerignore
docker-compose.yml
# .docker/mysql/dump.sql
# .docker/sftp/id_rsa.pub

.data
