.item {
  --margin-x: var(--card-margin-x, 10px);
  --margin-y: var(--card-margin-y, 10px);

  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: calc(var(--card-width, 50%) - var(--margin-x) * 2);
  max-width: var(--card-max-width);
  height: auto;
  margin: var(--margin-y) var(--margin-x) var(--margin-y) var(--margin-x);

  background-color: #fff;
  border-radius: 16px;

  /* box-shadow: rgba(30, 30, 30, 0.1) 0 4px 12px; */
  box-shadow: rgba(30, 30, 30, 10%) 0 2px 6px;

  transition: box-shadow 0.3s cubic-bezier(0.21, 0.01, 0.3, 0.07);

  /* transition-timing-function: cubic-bezier(0.21, 0.01, 0.3, 0.07);
  transition-duration: 0.3s;
  transition-property: transform, box-shadow; */
}

@media screen and (width >= 768px) {
  .item:hover {
    /* box-shadow: rgba(30, 30, 30, 0.15) 0 4px 12px; */
    box-shadow: hsla(222deg, 13%, 28%, 20%) 0 3px 12px 0;

    /* transform: scale(1.01); */
  }

  /* .item:hover .img {
    transform: scale(1.02);
  } */

  .item--horizontal {
    flex-direction: row;
    width: 100%;

    /* min-height: 160px; */
  }
}

@media screen and (width >= 653px) and (width <= 768px) {
  .item_big {
    flex-direction: row;
    width: 100%;
    min-height: 160px;
  }
}

@media screen and (width <= 652px) {
  .item {
    width: calc(var(--card-width, 100%) - var(--margin-x) * 2);
    max-width: 400px;
    margin: var(--margin-y) var(--margin-x);
  }
}

.sticky {
  order: -1;
}

.link {
  line-height: 20px;
  color: rgba(30, 30, 30, 92%);
  text-decoration: none;
}

.link::after {
  content: "";

  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.image {
  --image-border-radius: 0;

  position: relative;
  display: var(--card-image-display, flex);
  flex: var(--card-image-flex, 3);
  padding-bottom: 56.25%;
}

@media screen and (width < 768px) {
  .image_wrapper_horizontal_true {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.image_wrapper_horizontal_false {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (width >= 768px) {
  .image--horizontal {
    max-width: 278px;
    min-height: 156px;
    padding-bottom: 0;
  }

  .image_wrapper_horizontal_true {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.image_small {
  max-width: 160px;
}

@media screen and (width >= 653px) and (width <= 768px) {
  .image_big {
    flex: 1.4292 1;

    min-width: auto;
    max-width: 233px;
    height: 75.15%;
    margin: 8px 0 0 8px;
    padding-bottom: 0;
  }
}

.image_placeholder {
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (width >= 768px) {
  .img--horizontal {
    border-radius: 12px 0 0 12px;
  }
}

@media screen and (width >= 653px) and (width <= 768px) {
  .img_big {
    border-radius: 12px;
  }
}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px 18px 8px;

  border-right: var(--card-info-border-right, 0);
  border-bottom: var(--card-info-border-bottom, 0);
  border-left: var(--card-info-border-left, 0);
  border-radius: 0 0 16px 16px;
}

/* @media screen and (min-width: 768px) {
  .info-horizontal {
    flex: 1.9226 1;
  }
} */
.text {
  overflow: hidden;
  line-height: 1.5;
}

.title {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
}

.subtitle {
  position: relative;

  overflow: hidden;

  margin-top: 2px;

  font-size: 14px;
  color: hsl(0deg, 0%, 0%, 70%);
}

.subtitle_clamp {
  /* display: box; */
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  hyphens: auto;

  -webkit-box-orient: vertical;
}

/* .item:hover .subtitle_clamp {
  overflow: visible;
  -webkit-line-clamp: initial;
} */

.footer {
  --category-background: #fff;

  z-index: 1;
  margin-top: 2px;
}

@media screen and (width >= 653px) and (width <= 768px) {
  .footer_big {
    position: absolute;
    bottom: 8px;
    left: 8px;
  }
}
