.container {
  position: relative;
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  margin: 2em 0 1.3em 0;
}

.category {
  --category-background: #f2f2f2;

  letter-spacing: 0.034em;
}

.category-link {
  font-weight: 400;
  font-size: 14px;

  /* color: rgb(154, 154, 154); */
  font-family: var(--font-R-S);
}

.body {
  position: relative;
}

.Share {
  --social-margin: 0 4px 0 0;
}

@media screen and (min-width: 1000px) {
  .Share {
    --social-margin: 0 0 4px 0;

    position: absolute;
    top: -5px;
    left: -80px;
    display: flex;
    flex-direction: column;
  }
}

/* .category-link::after {
  background-color: rgb(154, 154, 154);
} */

.button_forward,
.button_to-top {
  --button-text-padding: 5px;
  --button-align-items: flex-end;

  position: fixed;
  top: 0;
  bottom: 0;
  width: 50%;
  cursor: default;
  opacity: 0.2;
  transition: opacity 0.15s linear;
}

.button_forward {
  --button-justify-content: flex-start;

  .feed {
    --group-cards-container-margin: 0;
    --group-cards-carousel-controls-margin: 0;
    --group-cards-carousel-button-width: 56px;
    --group-cards-carousel-controls-width: 100%;
    --card-info-border-right: 1px solid #dbdbdb;
    --card-info-border-bottom: 1px solid #dbdbdb;
    --card-info-border-left: 1px solid #dbdbdb;

    margin: 60px -10px 0;
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: rgba(30, 30, 30, 0.1) 0 2px 6px;
    content-visibility: auto;
  }

  @media screen and (min-width: 981px) {
    .feed {
      border-radius: 20px;
    }
  }

  @media screen and (max-width: 999px) {
    .button_to-top_false {
      transform: translateX(62px);
    }
    .button_to-top_true {
      transform: translateX(0);
    }
  }

  @media screen and (min-width: 768px) {
    .button_forward:hover,
    .button_to-top:hover {
      transform: translateX(0);
      opacity: 0.4;
    }
  }

  .feed {
    content-visibility: auto;
  }
}

@media screen and (max-width: 999px) {
  .button_to-top_false {
    transform: translateX(62px);
  }
  .button_to-top_true {
    transform: translateX(0);
  }
}

@media screen and (min-width: 768px) {
  .button_forward:hover,
  .button_to-top:hover {
    transform: translateX(0);
    opacity: 0.4;
  }
}

.offer {
  padding: 40px 0 20px;
}
