/* .title { */
/* font-family: var(--fontC); */
/* font-weight: 700; */
/* } */

/* .link {
  color: #045a91;
  font-size: 16px;
} */

/* .link {
  font-size: 16px;
  padding: 1px 4px;
  background-color: hsla(199, 100%, 33%, 0.08);
  border-radius: 4px;
  color: #0073aa;
  transition: background-color 0.150s linear;
}

.link:hover {
  background-color: hsla(199, 100%, 33%, 0.18);
} */