.root {
  display: flex;
}

.body {
  display: flex;

  padding-top: 20px;
}

.aside {
  flex-basis: 300px;
  flex-shrink: 0;

  padding: 10px 10px 0 0;
}

.main {
  --width-canvas: 300px;

  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
}
