/**
  * Flex
  */
.mediaType_flex {
  display: flex;
}

.align_top {
  align-items: flex-start;
}

.align_center {
  align-items: center;
}

.align_bottom {
  align-items: flex-end;
}

@media screen and (width >= 768px) {
  .mediaPosition_right {
    flex-direction: row-reverse;
  }
}

@media screen and (width < 768px) {
  .mediaPosition_left {
    flex-direction: column;
  }

  .mediaPosition_right {
    flex-direction: column-reverse;
  }
}

/**
  * Float
  */
@media screen and (width > 425px) {
  .mediaType_float {
    overflow: hidden;
  }
}

@media screen and (width <= 425px) {
  .mediaType_float {
    display: flex;
  }
}
