.wrapper {
  --social-margin: 0 4px 0 0;

  display: flex;
  align-items: center;
}

.wrapper .svg {
  width: 30px;
  height: 30px;
}

.svg--vk {
  fill: var(--brand-color-vk);
}

.svg--ok {
  fill: var(--brand-color-ok);
}

.svg--youtube {
  fill: var(--brand-color-youtube);
}
