.root {
  --typography-font-size: 1.4375rem;
  --typography-font-weight: 300;
  --typography-font-style: italic;
  --typography-font-family: var(--font-family-roboto-slab);

  position: relative;
}

.root_align_left {
  padding-left: 20px;
  text-align: left;
}

.root_align_right {
  padding-right: 20px;
  text-align: right;
}

.root_align_center {
  text-align: center;
}

.line::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;

  width: 4px;

  background-color: var(--accent-color);
}

.root_align_left .line::before {
  left: 0;
}

.root_align_right .line::before {
  right: 0;
}

.root_align_center .line::before {
  display: none;
}

.blockquote {
  margin: 0 0 10px;
}
