.block {
  position: relative;
  margin: 16px 20px 20px;
}

.block:last-child {
  margin-bottom: 0;
}

.block::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  width: 4px;
  background-color: var(--accent-сolor);
  content: "";
}

.blockquote {
  --paragraph-font-size: 19px;
  --paragraph-color: var(--titleColor);
  --paragraph-font-weight: 300;
  --paragraph-font-style: italic;

  margin: 16px 0;
  font-family: var(--font-R-S);
}

.caption {
  color: var(--black-50);
  font-size: 14.5px;
  line-height: 1;

  /* margin-left: 78px; */
}

@media screen and (max-width: 425px) {
  .p {
    font-size: 22px;
  }
}
