.block {
  position: relative;
  overflow: hidden;
}

/* .block::before {
  position: absolute;
  top: 5px;
  left: -1px;
  z-index: 2;
  width: 20px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2 0, transparent 20px);
  content: "";
} */

.block::after {
  content: "";

  position: absolute;
  z-index: 2;
  top: 5px;
  right: -1px;

  width: 20px;
  height: 100%;

  background: linear-gradient(
    to left,
    var(--category-background) 0,
    transparent 20px
  );
}

.link {
  position: relative;

  display: inline-block;

  min-width: max-content;
  padding-top: 10px;

  font-size: 12px;

  /* color: hsl(0, 0%, 43%); */
  color: var(--secondary-color);
  text-decoration: none;
}

/* .link:first-child {
  margin-left: 20px;
} */

.link:last-child {
  margin-right: 20px;
}

.link::after {
  content: "•";
  margin: 0 5px 0 4px;
}

.link:last-child::after {
  content: none;
}

.link:hover .text,
.link:focus-visible .text {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .link:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 320px) {
  /* .link {
    margin: 0;
  } */

  .link::after {
    margin: 0 4px;
  }
}

.link--cursor {
  cursor: default;
}
