.block {
  position: relative;
  overflow: hidden;
}

/* .block::before {
  position: absolute;
  top: 5px;
  left: -1px;
  z-index: 2;
  width: 20px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2 0, transparent 20px);
  content: "";
} */

.block::after {
  position: absolute;
  top: 5px;
  right: -1px;
  z-index: 2;
  width: 20px;
  height: 100%;
  background: linear-gradient(
    to left,
    var(--category-background) 0,
    transparent 20px
  );
  content: "";
}

.wrapper {
  display: flex;
  margin-bottom: calc(-20px - var(--scrollbarWidth));
  padding-bottom: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.link {
  position: relative;
  display: inline-block;
  min-width: max-content;
  margin-right: 16px;
  padding-top: 10px;

  /* color: hsl(0, 0%, 43%); */
  color: var(--secondary-color);
  font-size: 12px;
  text-decoration: none;
}

/* .link:first-child {
  margin-left: 20px;
} */

.link:last-child {
  margin-right: 20px;
}

.link::after {
  position: absolute;
  top: calc(10px + 25%);
  width: 3px;
  height: 3px;
  margin: 0 6px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  content: "";

  /* background-color: hsl(0, 0%, 43%); */

  /* pointer-events: none; */
}

.link:last-child::after {
  content: none;
}

.link:hover,
.link:focus-visible {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .link:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 320px) {
  /* .link {
    margin: 0;
  } */

  .link::after {
    margin: 0 4px;
  }
}
