.MUITable {
  min-width: 650px;
}

.MUITable_layout_fixed {
  table-layout: fixed;
}

.TableHead {
  --typography-font-family: var(--font-family-serif);
  --typography-font-size: 1.35rem;
}

.TableBody :global .MuiTableRow-hover:hover {
  background-color: var(--black-08);
}
