.body {
  z-index: 3;
  margin: 0;
  padding: 0;
  list-style: none;
}

.subMenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s ease-out;
}

/*
 *  desktop
 */
@media screen and (min-width: 951px) {
  .body {
    border-radius: var(--submenu-border-radius);
  }

  .body_row {
    display: flex;
    flex-wrap: wrap;
  }

  .subMenu {
    z-index: 2;
    width: 300px;
    background-color: #fff;
    border-radius: 0 var(--submenu-border-radius) var(--submenu-border-radius);
  }

  .body_right {
    right: 0;
    width: 250px;
  }

  .body_margin_right {
    margin-right: 9px;
  }

  .subMenu li {
    padding: 0 6px;
  }

  .subMenu--lvl1 {
    border-radius: var(--submenu-border-radius) 0 var(--submenu-border-radius)
      var(--submenu-border-radius);
  }

  .subMenu--lvl2 {
    right: 0;
    width: calc(100% - 50px);
    border-radius: 0 0 0 var(--submenu-border-radius);
  }

  .body_right .subMenu--lvl2 {
    left: 0;
    border-radius: 0 0 var(--submenu-border-radius) var(--submenu-border-radius);
  }

  .subMenu--lvl3 {
    top: 0;
    left: 250px;

    overflow-y: auto;

    max-height: 415px;

    border-radius: 0 var(--submenu-border-radius) var(--submenu-border-radius)
      var(--submenu-border-radius);
  }
}

/*
 *  mobile
 */
@media screen and (max-width: 950px) {
  .subMenu {
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 20px;

    background-color: var(--background-color-white);
  }

  .subMenu-mobile--active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.175s ease-out;
  }
}
