.date {
  margin-right: 4px;

  /* font-family: var(--font-family-roboto-slab); */
  font-size: 1.6em;
  font-weight: 100;

  /* color: var(--dark-gray); */
}

.date_size_small {
  font-size: 1.71em;
}

.month_padding {
  padding-left: 5px;
}

@media screen and (width < 480px) {
  .month_padding {
    padding-right: 5px;
  }
}

.block_one_day .month {
  margin-left: 5px;
}

@media screen and (min-width: 480px) {
  .block_range_day {
    display: flex;
    flex-direction: column;
  }

  .date {
    margin-right: 0;
    margin-bottom: 6px;
  }

  /* .body {
    padding: 8px 0 2px;
  } */
}
