.root {
  position: relative;
  width: 100%;
  margin-top: calc(var(--carousel-offset-y, 0) * -1);
  margin-bottom: calc(var(--carousel-offset-y, 0) * -1);
}

.Scroller {
  padding: var(--carousel-offset-y, 0) var(--carousel-offset-x, 0);
}

.itemList {
  display: flex;
}
