.root {
  position: relative;
  width: 100%;
  margin-top: calc(var(--carousel-offset-top, 0) * -1);
  margin-bottom: calc(var(--carousel-offset-bottom, 0) * -1);
}

.Scroller {
  padding-top: var(--carousel-offset-top, 0);
  padding-bottom: var(--carousel-offset-bottom, 0);
}

.itemList {
  display: flex;
}
