.block {
  --card-image-display: none;
  --search-suggestion-top: var(--header-mobile-height);
  --search-suggestion-bottom: 0;
  --search-suggestion-left: 0;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.form {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.25s;
}

.form_isVisible_false {
  visibility: hidden;
  opacity: 0;
}

.form_isVisible_true {
  visibility: visible;
  opacity: 1;
}
