/* .main {
  width: 98%;
  max-width: 1502px;
  margin: 0 auto;
} */

/* .section {
  padding: 0 15px;
} */

/* .book {
  min-height: 368px;
} */

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1340px;
  margin: auto;
  column-gap: 10px;
}

.section {
  margin: 10px 0 20px;
}

.questionnaire {
  margin-top: 20px;
}

.today {
  margin: 0 10px;
}

/* .Poster_title {
  margin-bottom: 4px;
} */

/*
 * width < 1339 & width > 960
 */

/* @media screen and (max-width: 1329px) and (min-width: 961px) {
  .poster {
    padding-right: 10px;
  }
} */

/*
 * width <= 1339
 */
@media screen and (width <= 1339px) {
  .wrapper {
    flex-direction: column;
    max-width: 960px;
  }

  .poster {
    max-width: 950px;

    /* width: 97.917%; */
    margin-bottom: 0;
  }

  .group:first-child {
    margin-left: 4px;
  }

  .group:last-child {
    margin-right: 4px;
  }

  /* .header {
    padding-left: 10px;
  } */
}

/*
 * width < 1340 & width >= 480
 */
@media screen and (width >= 480px) and (width < 1340px) {
  .item {
    width: 440px;
  }
}

/*
 * width >= 1340
 */
@media screen and (width >= 1340px) {
  .poster {
    --carousel-shadow-display: none;

    position: sticky;
    top: 10px;
    order: 1;
    max-width: 340px;
    height: max-content;
    margin: 10px 0;
  }

  /* .list {
    margin-top: -10px;
  } */

  .item {
    height: inherit;
    scroll-snap-align: start;
  }

  @supports (display: grid) {
    .item {
      height: max-content;
    }
  }

  .item:last-child {
    margin-bottom: 0;
  }
}

.post {
  max-width: 960px;
}

@media screen and (width > 1012px) {
  .post {
    --carousel-button-next-justify-content: flex-end;
    --carousel-button-width: 65px;
    --carousel-button-left: -28px;
    --carousel-button-right: -28px;
  }
}

.alert-link {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  transition: opacity 0.15s;
}

.alert-link:hover {
  opacity: 0.8;
}

.alert-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

/* .posts-header {
  padding-left: 10px;
} */

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -5px;
}
