@media screen and (max-width: 960px) {
  .container {
    width: 100%;
    margin: 10px 0;
  }
}
@media screen and (min-width: 961px) {
  .container {
    /*
      GoogleChrome 49 не поддерживает вложение calc
      width: calc(100% - calc(var(--group-cards-container-margin, 10px) * 2))
    */

    /* stylelint-disable-next-line prettier/prettier */
    width: calc(
      100% - var(--group-cards-container-margin, 10px) -
        var(--group-cards-container-margin, 10px)
    );
    margin: var(--group-cards-container-margin, 10px);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    /* При форматировании на несколько строк DevTools перестают подсвечивать переменные */
    /* stylelint-disable-next-line prettier/prettier */
    --carousel-controls-margin: var(
      --group-cards-carousel-controls-margin,
      0 -30px
    );
    --carousel-button-width: var(--group-cards-carousel-button-width, 66px);
    --carousel-controls-center-padding: 0;
    --carousel-controls-width: var(
      --group-cards-carousel-controls-width,
      calc(100% + 60px)
    );
  }
}

.container {
  --carusel-offset-bottom: 8px;
}

.head {
  margin-bottom: 10px;
  padding: 0 25px;
  text-align: center;
}

.title {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 600;
}

.description {
  color: #606060;
  font-size: 16px;
}

.count_1 {
  justify-content: center;
}

@media screen and (min-width: 616px) {
  .count_2 {
    justify-content: center;
  }
}

@media screen and (min-width: 924px) {
  .count_3 {
    justify-content: center;
  }
}

.article {
  position: relative;
  flex-shrink: 0;
  width: 288px;
  margin: 0 5px;
}

/* .article:first-child {
  margin-left: 10px;
}
.article:last-child {
  margin-right: 10px;
} */

@media screen and (min-width: 769px) {
  .container {
    --group-cards-translate-y: -6px;
    --carusel-offset-top: calc(var(--group-cards-translate-y) * -1);
  }

  .article {
    transition-timing-function: cubic-bezier(0.21, 0.01, 0.3, 0.07);
    transition-duration: 0.3s;
    transition-property: transform, box-shadow;
  }

  .article:hover {
    transform: translateY(var(--group-cards-translate-y));
  }
}

@media screen and (min-width: 653px) {
  .article_size_l {
    width: calc(50% - 16px);
  }
}
