.root {
  overflow-y: var(--custome-scrollbar-overflow-y);
  max-height: var(--custome-scrollbar-max-height);
}

@media (pointer: fine) {
  .root::-webkit-scrollbar {
    width: 12px;
  }

  .root::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border: 3px solid var(--background-color-white);
    border-radius: 12px;
  }

  .root::-webkit-scrollbar-thumb:hover {
    background-color: #babac0;
    border: 0 solid var(--background-color-white);
    border-radius: 24px;
  }

  .root {
    scrollbar-color: #ccc var(--background-color-white);
    scrollbar-width: thin;
  }
}
