/* .content {
  font-size: 18px;
} */

.body a {
  max-width: max-content;
  padding: 1px 4px;
  color: #0073aa;

  /* background-color: hsla(199, 100%, 33%, 0.08); */
  border-radius: 4px;
  transition: background-color 0.15s linear;
}

.body a:not(.wp-block-file__button):hover {
  background-color: hsla(199, 100%, 33%, 0.18);
}

/* .content-body a:last-child {
  margin-right: 0;
} */

.body a:visited {
  color: rgb(85, 26, 139);

  /* background-color: rgba(85, 26, 139, 0.08); */
}

.body a:not(.wp-block-file__button):visited:hover {
  background-color: rgba(85, 26, 139, 0.08);
}

.body figure a {
  display: flex;
  padding: 0;
  background-color: transparent;
  border-radius: 8px;
  transition: none;
}

.body figure a:hover,
.body figure a:visited {
  background-color: transparent;
}

.body p,
.body ul,
.body ol,
.body td {
  margin: 6px 0 20px;

  /* margin-bottom: 20px; */

  /* margin-top: 0; */
  color: rgb(30, 30, 30);
}

.body a,
.body p,
.body ul,
.body ol,
.body td {
  font-size: calc(16px + 3 * (100vw / 1600));

  /* letter-spacing: 0.019em; */

  /* line-height: 1.34; */

  /* font-size: 17px; */
  line-height: 28px;
}

@media screen and (max-width: 767px) {
  .body a,
  .body p,
  .body ul,
  .body ol,
  .body td {
    font-size: calc(16px + (3 + 3 * 0.7) * ((100vw - 320px) / 1600));
  }
}

.body p:last-child,
.body ul:last-child,
.body ol:last-child {
  margin-bottom: 0;
}

.body h2:first-child,
.body h3:first-child,
.body h4:first-child,
.body h5:first-child,
.body h6:first-child {
  margin-top: 0;
}
