/* :root {
  --button-size-m-icon-indentLeft: 30px;
  --button-size-m-icon-width: 30px;
} */
.li {
  --button-text-padding: 0;
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.text {
  position: relative;
  display: inline-block;
  padding: 9px 6px;
}

.text::after {
  content: "";

  position: absolute;
  z-index: 1;
  right: 6px;
  bottom: 4px;
  left: 7px;
  transform-origin: left;
  transform: scaleX(0);

  height: 1px;

  background-color: var(--border-link);

  transition: transform 0.2s, transform-origin 0.25s;
}

.link_active > .text::after {
  transform-origin: right;
  transform: scaleX(1);
}

/*
 *  desktop
 */
@media screen and (min-width: 951px) {
  .li_header {
    display: none;
  }

  .text_mb {
    margin-bottom: 4px;
  }

  .li_overlay::after {
    content: "";

    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    visibility: hidden;
    opacity: 0;
    background-color: var(--black-50);

    transition: opacity 0.15s ease-out;
  }

  /**
    * hover
    **/
  .li-left_lvl_0:hover,
  .li-left_lvl_1:hover,
  .li-left_lvl_2:hover,
  .li-left_lvl_3:hover,
  .li-right_lvl_0:hover,
  .li-right_lvl_1:hover,
  .li-right_lvl_2:hover,
  .li-right_lvl_3:hover {
    background-color: #fff;
  }

  .li-left_lvl_0:hover,
  .li-right_lvl_0:hover {
    border-radius: var(--submenu-border-radius) var(--submenu-border-radius) 0 0;
  }

  .li-left_lvl_1:nth-child(2):hover,
  .li-left_lvl_3:nth-child(2):hover {
    border-radius: 0 var(--submenu-border-radius) 0 0;
  }

  .li-left_lvl_1:last-child:hover,
  .li-left_lvl_3:last-child:hover,
  .li-right_lvl_2:last-child:hover {
    border-radius: 0 0 var(--submenu-border-radius) var(--submenu-border-radius);
  }

  .li-left_lvl_2:last-child:hover {
    border-radius: 0 0 0 var(--submenu-border-radius);
  }

  .li-left_length_1:last-child:hover {
    border-radius: 0 var(--submenu-border-radius) var(--submenu-border-radius);
  }

  .li-left_lvl_1::after {
    border-radius: 0 var(--submenu-border-radius) var(--submenu-border-radius)
      var(--submenu-border-radius);
  }

  .li-right_lvl_1:nth-child(2):hover {
    border-radius: var(--submenu-border-radius) 0 0 0;
  }

  .li-right_lvl_1:last-child:hover {
    border-radius: 0 0 var(--submenu-border-radius) 0;
  }

  .li-right_lvl_1::after {
    border-radius: var(--submenu-border-radius) 0 var(--submenu-border-radius)
      var(--submenu-border-radius);
  }

  .li_overlay:hover::after {
    transition-delay: 0.08s;
  }

  .li:hover > ul,
  .li_overlay:hover::after {
    visibility: visible;
    opacity: 1;

    transition-timing-function: ease-out;
    transition-duration: 0.175s;
    transition-property: opacity;
  }

  .li:hover > .text::after,
  .li:hover > .link .text::after,
  .li:hover > .button .text::after {
    transform-origin: right;
    transform: scaleX(1);
  }

  .li_right .button {
    justify-content: flex-end;
  }

  .icon {
    display: none;
  }
}

/*
 *  mobile
 */
@media screen and (max-width: 950px) {
  .li_header {
    --button-text-align: center;

    margin-bottom: "6px";
    margin-left: "6px";
  }

  /* .link {
    display: flex;
    align-items: center;
  } */
}
