.wraper {
  padding: 2px 5px;
  color: var(--badge-color, var(--white-80));
  font-size: 14px;
  background-color: var(--badge-background-color, var(--black-80));
  border-radius: 4px;

  /* color: hsl(0deg, 0%, 100%, 62%);
  background-color: hsl(0deg, 0%, 12%, 65%); */
}
