/* .title { */

/* font-family: var(--fontC); */

/* font-weight: 700; */

/* } */

.list {
  max-width: max-content;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #dbdbdb;
}

.item div {
  flex: 4.2;
}

.item a {
  flex: 1;
}

.subtitle {
  display: block;
  margin: 0 0 9px;
  color: var(--subtitle-сolor);
  font-weight: 400;
  font-size: 13px;
}

.button {
  width: 100%;
  min-height: 40px;
  padding: 0;
  color: var(--subtitle-сolor);
  font-weight: 400;
  font-size: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
