.block {
  position: absolute;
  top: var(--search-suggestion-top);
  right: 0;
  bottom: var(--search-suggestion-bottom);
  left: var(--search-suggestion-left);
  max-height: var(--search-suggestion-max-height);
  margin-top: var(--search-suggestion-margin-top);
  padding: 10px 5px;
  overflow-y: auto;
  background-color: rgba(204, 204, 204, 50%);
  border-radius: var(--search-suggestion-border-radius);
  transform: translateY(16px);
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(16px);
  transition: all 0.2s ease;
  overscroll-behavior-y: contain;
}

/* .suggestion input:focus, */
.block_isVisible {
  transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
