.block {
  --search-suggestion-top: 37px;
  --search-suggestion-left: 1px;
  --search-suggestion-max-height: 60vh;
  --search-suggestion-margin-top: 4px;
  --search-suggestion-border-radius: 16px;
  --paragraph-font-size: 13px;

  display: flex;
  align-items: center;
}

.form {
  position: relative;

  width: 100%;

  transition: all 0.25s;
}

.form_isVisible_false {
  visibility: hidden;
  opacity: 0;
}

.form_isVisible_true {
  visibility: visible;
  opacity: 1;
}

.input {
  display: flex;
}

.icon {
  position: absolute;

  display: flex;
}

/* .input > div > div {
  height: 36px;
  overflow: hidden;
  border-radius: 16px;
  background-color: transparent;
} */

/* .input > div > div::before,
.input > div > div:hover::before {
  border-bottom: none !important;
} */
