.item {
  width: max-content;
  padding-right: 5px;
}

.weekday {
  width: 10px;
  font-weight: 600;
  font-size: 11.6px;
  text-transform: uppercase;
}
.item--cleanup-day .weekday {
  width: max-content;
  font-size: 12.6px;
  text-transform: none;
}

.time {
  font-size: 15px;
}
.item--cleanup-day .time {
  font-size: 14.6px;
}

.day {
  font-weight: 300;
  font-size: 14px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  /* column-gap: 8px; */
  margin-bottom: 12px;
}

.title {
  margin: 0 14px 0 0;
}

.controls {
  /* gap: 8px; */
  display: flex;
  margin-bottom: -8px;
}

.link {
  position: relative;
  padding: 4px 0 8px;
  color: var(--subtitleColor);
  font-size: 14px;
  text-decoration: none;
  transition: color 0.15ms;
}

.link:hover {
  color: var(--accentColor);
}

.link:first-child {
  margin-right: 8px;
}

.active::after {
  position: absolute;
  right: 0;
  bottom: 6px;
  left: 1px;
  height: 1px;
  background-color: var(--borderLink);
  content: "";

  /* transform: scaleX(0);
  transition: transform 0.35s linear; */
}
