.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  /* column-gap: 8px; */
  margin-bottom: 12px;
}

.title {
  margin: 0 14px 0 0;
}

.controls {
  --button-text-padding: 0;
  --button-text-align: center;

  display: flex;
  margin-bottom: -8px;
}

/* .link {
  --button-text-align: center;

  position: relative;
  padding: 4px 0 8px;
  color: var(--subtitle-—Åolor);
  font-size: 14px;
  text-decoration: none;
  transition: color 0.15ms;
} */

/* .link:hover {
  color: var(--accent-color);
} */

.link {
  margin-right: 8px;
}

/*
.active::after {
  position: absolute;
  right: 0;
  bottom: 6px;
  left: 1px;
  height: 1px;
  background-color: var(--accent-color);
  content: "";
} */
