.root {
  --columns-gap: calc(var(--g-block-margin-bottom) / 2);
}

.wrapper {
  display: flex;
  margin: calc(var(--columns-gap) * -1);
}

@media screen and (width <= 800px) {
  .wrapper_direction_column {
    flex-direction: column;
  }
}
