.block {
  margin: 6px 0 20px;
  font-size: calc(16px + 3 * (100vw / 1600));
  line-height: 28px;
}
.block:first-child {
  margin-top: 0;
}
.block:last-child {
  margin-bottom: 0;
}

/* 2px solid #4d3bfe */
@media screen and (max-width: 767px) {
  .block {
    font-size: calc(16px + (3 + 3 * 0.7) * ((100vw - 320px) / 1600));
  }
}
