.link {
  display: inline-block;

  margin: var(--social-margin);
  padding: 2px;

  line-height: 0;

  transition: background-color, transform 0.2s linear;
}

.link:last-child {
  margin: 0;
}

.link:hover {
  /* background-color: var(--hoverColor); */
  transform: translateY(-2px);
  border-radius: 8px;

  /* transition: background-color, transform 0.2s linear; */
  transition: transform 0.2s linear;
}

.svg {
  /* fill: var(--color-grey); */
  width: 36px;
  height: 36px;
}

.link:hover .svg--vk {
  fill: var(--brand-color-vk);
}

.link:hover .svg--ok {
  fill: var(--brand-color-ok);
}

.link:hover .svg--youtube {
  fill: var(--brand-color-youtube);
}
