.root {
  --image-viewer-body: calc(
    var(--image-viewer-height, 100vh) - var(--image-viewer-header-height)
  );

  width: 100vw;
}

.root img {
  max-height: var(--image-viewer-body);
  object-fit: contain;
}
