.link {
  font-size: 14px;
  color: var(--subtitle-Ñolor);
  transition: color 0.15s linear;
}

.link::after {
  content: "";

  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  transform: scaleX(0);

  height: 1px;

  background-color: var(--accent-color);

  transition: transform 0.15s linear;
}

.active::after {
  transform: scaleX(1) !important;
}

@media screen and (width > 768px) {
  .link:hover {
    color: var(--accent-color);
  }

  .active:hover {
    color: var(--subtitle-color);
  }
}
