/*
 * width <= 1329
 */
@media screen and (max-width: 1329px) {
  .block {
    display: flex;
    flex: 1;
  }
}

/*
 * width > 1330
 */
@media screen and (min-width: 1330px) {
  .block {
    scroll-snap-align: start;
    margin-right: 10px;
    padding: 6px 10px;
  }

  .block:last-child {
    margin-right: 0;
  }
}
