.block {
  --button-border-width: 0;
  --carousel-button-visibility: 0.3;
  --carousel-wrapper-padding-top: 66px;

  /* --carousel-wrapper-padding-bottom: 26px; */

  position: relative;

  margin-bottom: 24px;
  padding-top: 56.25%;
}

.wrapper {
  position: absolute;
  top: 0;

  width: 100%;
  height: auto;
  margin: 0;
}

/* .wrapper:first-child {
  margin-top: 0;
}
.wrapper:last-child {
  margin-bottom: 0;
} */

/* @media screen and (orientation: landscape) {
  .wrapper_zoom {
    width: 92vw;
  }
} */

/* @media screen and (orientation: portrait) {
  .wrapper_zoom {
    max-width: 92vw;
  }
} */

.container {
  overflow: hidden;
  display: flex;
  align-items: center;

  height: 100%;

  border-radius: 16px;

  transition: background-color 0.3s ease-out;
}

.container .badge {
  position: absolute;
  top: 10px;
  right: 10px;
}

.ul {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.li {
  width: 100%;
}

.image {
  scroll-snap-align: start;

  position: relative;

  display: flex;
  justify-content: center;

  min-width: 100%;
  max-height: 94vh;
  margin: auto;

  /* overflow: hidden;
  scroll-snap-align: start; */
}

/* .image:first-child {
  border-radius: 12px 0 0 12px;
}
.image:last-child {
  border-radius: 0 12px 12px 0;
} */

.caption {
  position: absolute;
  bottom: -24px;

  width: 100%;
  padding: 0 45px;

  font-size: 14px;
  line-height: 1.2;
  color: var(--dark-gray);
  text-align: center;
}

.controls {
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: 0;

  height: 44px;

  /* background-color: white;
  border-radius: 0 12px 0 12px;
  opacity: 0.75; */
}

.controls .badge {
  --badge-color: black;
  --badge-background-color: transparent;
}

.controls_isZoom_true {
  position: fixed;
  top: 0;
  right: 0;

  width: 100%;

  opacity: 0.7;
  background-color: white;
}

.controls_isZoom_false {
  width: 44px;
}

.controls_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.buttons {
  --button-width: 44px;
  --button-height: 44px;

  position: absolute;
  right: 0;

  display: flex;
}

.button_close {
  margin-left: 12px;
}

.button {
  width: 40px;
  height: 40px;

  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 20px -15px;
}

.button_download {
  opacity: 0;

  transition: opacity 0.15s linear;
}

.controls_isZoom_true .button_download {
  opacity: 0.5;
}

.block:hover .button_download {
  opacity: 0.5;
}

.controls_isZoom_true .button_download:hover {
  opacity: 1;
}

.button_download_fill {
  --icon-fill: #fff;
}

/* Gallery close */
.image_isZoom_false {
  align-items: flex-end;

  min-width: 100%;
  padding-top: 56.25%;
}

.image_isZoom_false > span {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Gallery open */
.wrapper_isZoom_true {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100vw - var(--scrollbar-width));
  height: 100vh;
  padding-top: 44px;
}

.container_isZoom_true {
  background-color: var(--bg-white-95);
  border-radius: 0;
}

.image_isZoom_true {
  height: 100vh;

  /* margin: auto; */
}

.image_isZoom_true > span {
  /* position: absolute !important;
  top: 0;
  bottom: 0; */

  /* width: 100%; */
  max-height: 100vh;

  border-radius: 0;
}

/* image-rendering: -webkit-optimize-contrast; */

/*
.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
} */
