.item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  height: auto;
  margin: 10px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 16px;

  /* box-shadow: rgba(30, 30, 30, 0.1) 0 4px 12px; */
  box-shadow: rgba(30, 30, 30, 0.1) 0 2px 6px;
  transition: box-shadow 0.3s cubic-bezier(0.21, 0.01, 0.3, 0.07);

  /* transition-timing-function: cubic-bezier(0.21, 0.01, 0.3, 0.07);
  transition-duration: 0.3s;
  transition-property: transform, box-shadow; */
}

@media screen and (min-width: 768px) {
  .item:hover {
    /* box-shadow: rgba(30, 30, 30, 0.15) 0 4px 12px; */
    box-shadow: hsl(222deg, 13%, 28%, 0.2) 0 3px 12px 0;

    /* transform: scale(1.01); */
  }

  /* .item:hover .img {
    transform: scale(1.02);
  } */

  .item--horizontal {
    flex-direction: row;
    width: 100%;
    min-height: 160px;
  }
}
@media screen and (min-width: 653px) and (max-width: 767px) {
  .item_big {
    flex-direction: row;
    width: 100%;
    min-height: 160px;
  }
}

@media screen and (max-width: 652px) {
  .item {
    width: calc(100% - 20px);
    max-width: 400px;
    margin: 10px auto;
  }
}
.sticky {
  order: -1;
}

.link {
  color: rgba(30, 30, 30, 0.92);
  line-height: 20px;
  text-decoration: none;
}

.link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.image {
  position: relative;
  display: flex;
  flex: 2;
  padding-bottom: 44.795%;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .image--horizontal {
    max-width: 310px;
    padding-bottom: 0; /* 17.022%; */
  }
}

@media screen and (min-width: 653px) and (max-width: 767px) {
  .image_big {
    flex: 1.4292 1;
    min-width: auto;
    max-width: 233px;
    height: 75.15%;
    margin: 8px 0 0 8px;
    padding-bottom: 0;
  }
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;

  /* transition: transform 0.3s cubic-bezier(0.21, 0.01, 0.3, 0.07); */
}

@media screen and (min-width: 768px) {
  .img--horizontal {
    border-radius: 12px 0 0 12px;
  }
}
@media screen and (min-width: 653px) and (max-width: 767px) {
  .img_big {
    border-radius: 12px;
  }
}

.info {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 18px 8px 18px;
}

.info-horizontal {
  flex: 1.9226 1;
}

.text {
  overflow: hidden;
  line-height: 1.5;
}

.title {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
}

.subtitle {
  position: relative;
  margin-top: 2px;
  overflow: hidden;
  color: hsla(0, 0%, 0%, 0.7);
  font-size: 14px;
}

.footer {
  margin-top: 2px;
}
@media screen and (min-width: 653px) and (max-width: 767px) {
  .footer_big {
    position: absolute;
    bottom: 8px;
    left: 8px;
  }
}
