.root {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;

  /* white-space: nowrap; */

  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.root::-webkit-scrollbar {
  display: none;
}

.root_scrollSnap {
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scroll-padding: var(--carousel-scroll-snap-padding, 0);
  touch-action: pan-x;
}

.itemList {
  display: flex;
  flex: 1;
  width: max-content;
}
