.root {
  --typography-font-size: 1.375rem;
  --figcaption-display: block;
  --pullquote-sides-padding: 30px;

  position: relative;
  font-family: var(--font-family-serif);
  font-style: italic;
}

.root::before,
.root::after {
  position: absolute;
  z-index: -1;

  width: 60px;
  height: 60px;

  border-radius: 50%;
}

.root::before {
  content: "";
  top: 19px;
  left: calc(var(--pullquote-sides-padding) + 4px);
  background: rgba(247, 141, 167, 70%);
}

.root::after {
  content: "\1F676";

  top: 15px;
  left: var(--pullquote-sides-padding);

  font-size: 50px;
  line-height: 80px;
  color: #f2ead7;
  text-align: center;

  background: rgba(142, 209, 252, 70%);
}

.root_align_left {
  text-align: left;
}

.root_align_center {
  text-align: center;
}

.root_align_right {
  text-align: right;
}

.Figure {
  padding: 32px calc(var(--pullquote-sides-padding) + 40px);
}

.blockquote {
  margin: 16px 0;
}

@media screen and (width <= 425px) {
  .root {
    /* При использовании без `px` `calc` не рассчитывается. */
    /* stylelint-disable-next-line length-zero-no-unit */
    --pullquote-sides-padding: 0px;
  }
}
