.container {
  padding: 0 15px;
}

.header {
  margin: 1.3em 0;
}

/* .content a:hover {
  color: var(--accentColor);
  transition: color 0.15s ease-out;
} */

.share {
  width: max-content;
  margin-left: auto;
}

/* .content h2 strong {
  font-weight: 500;
} */

@media screen and (min-width: 1200px) {
  .share {
    position: absolute;
    left: -100px;
    flex-direction: column;
    width: 42px;
  }
}
