.wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;

  /* height: 30px; */
  padding: 8px 35px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  background-color: #e57373;
  transition: opacity 150ms ease-in-out;
}

.wrapper_isVisible_false {
  opacity: 0;
  pointer-events: none;
}

.wrapper_isVisible_true {
  opacity: 1;
}

.close {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 30px;
}
