*,
*::after,
*::before {
  box-sizing: border-box;
}

/* html {
  font-size: 16px;
} */

/* stylelint-disable-next-line selector-id-pattern */
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  overflow-y: scroll;

  margin: 0;

  font-family: Roboto, Helvetica, Arial, -apple-system, BlinkMacSystemFont,
    sans-serif;
  word-break: break-word;

  background-color: var(--background-color-white);

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active::after {
  transform: scale(1);
}

/*
 * wp style
 */
.full-screen {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.full-screen iframe,
.full-screen object,
.full-screen embed {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/*
 * wp-class styles
 */
.pl-40 {
  padding-left: 40px;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}

.max-h--208 {
  max-height: 208px;
}

.m-auto {
  margin: auto !important;
}

.m-0 {
  margin: 0;
}

.f-l,
p img {
  float: left;
  margin-right: 10px;
}

.h-auto img {
  height: auto;
}

.f-r {
  float: right;
  margin-left: 10px;
}

.o-h {
  overflow: hidden;
}
