.body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.fixed {
  position: fixed;
}

.background {
  background-color: hsl(0deg, 0%, 100%, 60%);
}

.background-1 {
  background-color: hsl(0deg, 0%, 100%, 100%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 77px;
  height: 13px;
  transform: translate(-50%, -50%);
}

.container div {
  position: absolute;

  /* top: 40%; */
  width: 13px;
  height: 13px;
  background: var(--accent-—Åolor);
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.container div:nth-child(1) {
  left: 8px;
  animation: Loader1 0.6s infinite;
}

.container div:nth-child(2) {
  left: 8px;
  animation: Loader2 0.6s infinite;
}

.container div:nth-child(3) {
  left: 32px;
  animation: Loader2 0.6s infinite;
}

.container div:nth-child(4) {
  left: 56px;
  animation: Loader3 0.6s infinite;
}

@keyframes Loader1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes Loader3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes Loader2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
