.wrapper {
  user-select: none;
  display: inline-block;
  transition: opacity 150ms ease-out;
}

.wrapper_hidden {
  opacity: 0;
}

.circular_progress > svg > circle {
  stroke: currentcolor;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0;
}
