.wrapper {
  --button-border-width: 0;
  --icon-fill: #fff;

  display: flex;
  margin: 6px 0 20px;
}
.wrapper:first-child {
  margin-top: 0;
}
.wrapper:last-child {
  margin-bottom: 0;
}

.align_left {
  justify-content: flex-start;
}
.align_center {
  justify-content: center;
}
.align_right {
  justify-content: flex-end;
}

.figure {
  position: relative;
  margin: 0;

  /* min-width: 100%;
  padding-top: 56.25%; */
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.25s linear;
}

.figure > div {
  display: block !important;
}

.caption {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* max-height: 100%; */
  padding: 40px 10px 9px;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3) 70%,
    transparent
  );
}

.controls {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  /* background-color: white;
  border-radius: 0 12px 0 12px;
  opacity: 0.75; */
}

.button {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 20px -15px;
}

.button_download {
  width: 44px;
  height: 44px;
  opacity: 0.5;
  transition: opacity 0.15s linear;
}
.controls:hover .button_download {
  opacity: 1;
}

.button_download_fill {
  --icon-fill: #fff;
}
