.block {
  margin-top: var(--block-margin-top, var(--g-block-margin-top));
  margin-bottom: var(--block-margin-bottom, var(--g-block-margin-bottom));
}

.block:first-child {
  margin-top: 0;
}

.block:last-child {
  margin-bottom: 0;
}

@media screen and (width <= 800px) {
  .media {
    --image-border-radius: 0;
    --gallery-border-radius: 0;
    --page-padding-sides: var(--g-article-padding-sides);

    margin-right: calc(var(--page-padding-sides) * -1);
    margin-left: calc(var(--page-padding-sides) * -1);
  }
}

/* .Heading {
  --block-margin-bottom: 0;
} */

.File + .File,
.Heading + .Heading,
.Heading + .Paragraph,
.Heading + .List {
  --block-margin-top: calc(
    var(--g-block-margin-top) - var(--g-block-margin-bottom)
  );
}
