@media screen and (hover: hover) {
  .root {
    --card-translate-y: -6px;
    --carousel-offset-top: calc(var(--card-translate-y) * -1);
  }

  .Card {
    transition-timing-function: cubic-bezier(0.21, 0.01, 0.3, 0.07);
    transition-duration: 0.3s;
    transition-property: transform, box-shadow;
  }

  .Card:hover {
    transform: translateY(var(--card-translate-y));
  }
}
