.root {
  margin: var(--seacrh-filter-margin);
}

.formGroup {
  overflow-y: var(--seacrh-filter-overflow-y);
  flex-wrap: nowrap;
  max-height: var(--seacrh-filter-max-height);
}

.text {
  font-size: 14px;
}

.docCount {
  font-size: 12px;
  color: var(--secondary-color);
}

.docCount::before {
  content: "•";
  margin: 0 4px;
}
