.root {
  --typography-font-weight: 400;
}

.wrapper {
  display: flex;
  align-items: center;
}

.wrapper_align_left {
  justify-content: start;
}

.wrapper_align_center {
  justify-content: center;
}

.wrapper_align_right {
  justify-content: end;
}

.buttonText {
  --typography-color: var(--link-color);
}

.buttonFileSize {
  --separation-dot-color: var(--black-70);
  --typography-font-size: 0.9375rem;
  --typography-color: var(--black-70);
}

.buttonDownload {
  padding-left: 8px;
}

.buttonFileSize,
.buttonDownload {
  opacity: 0;
  transition: opacity 0.15s var(--animation-ease-out);
}

.buttonDownload:hover,
.buttonDownload:focus,
.button:hover .buttonFileSize,
.button:focus .buttonFileSize,
.button:hover + .buttonDownload,
.button:focus + .buttonDownload {
  opacity: 1;
}

.preview {
  width: 100%;
  max-height: 2000px;
}
