.block {
  --button-text-padding: 0;
  --button-border-width: 0;

  margin-bottom: 6px;
}
.block:last-child {
  margin-bottom: 0;
}

.header {
  display: flex;
  align-items: flex-end;
}

.link {
  font-size: calc(16px + 3 * (100vw / 1600));
  line-height: 28px;
  white-space: pre-line;
  text-align: left;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .link {
    font-size: calc(16px + (3 + 3 * 0.7) * ((100vw - 320px) / 1600));
  }
}

.button_download {
  margin-left: 8px;
  opacity: 0;
  transition: opacity 0.15s linear;

  /* fill: var(--colorGrey); */
}

.button_download:hover {
  opacity: 0.8;
}

.link:hover + .button_download {
  opacity: 0.4;
}

.preview {
  width: 100%;
  max-height: 2000px;
}
